* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #111111;
}

/* NAVBAR */
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar-container > ul {
  list-style: none;
  display: flex;
}

.navbar-container > ul > li {
  text-transform: uppercase;
  margin-right: 40px;
  letter-spacing: 0.1rem;
  color: #fff;
  opacity: 50%;
  transition: all 0.5s;
}

.navbar-container > ul > li:hover {
  opacity: 100%;
  cursor: pointer;
}
.navbar-container > ul > li:last-child {
  margin-right: 0;
}

/* SHOWCASE */
.showcase-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("imgs/wallpaper.jpg");
  background-size: cover;
  background-position: center;

  /* OVERLAY */
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
}

.showcase-container > h1 {
  color: #eee;
  font-weight: 600;
  font-size: 4rem;
}

.showcase-container > p {
  color: #eee;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

/* ABOUT */

.about-container {
  display: flex;
  align-items: center;
}

.about-container img {
  width: 320px;
  height: 320px;
  border-radius: 100%;
  margin-right: 50px;
}

.about-container p {
  color: white;
  text-align: justify;
  line-height: 1.8rem;
  font-weight: 400;
  font-size: 1rem;
}
/* SKILLS */
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}

.skill-card-item {
  background: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
  max-width: 360px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.skill-card-item > h2 {
  color: white;
  font-size: 1.25rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

.skill-card-item p {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

/* PROJECTS */

.section-content .project-card:nth-child(3),
.section-content .project-card:nth-child(5) {
  justify-content: flex-end;
}

.section-content .project-card:nth-child(3) img,
.section-content .project-card:nth-child(5) img {
  order: 2;
  margin-left: 50px;
  margin-right: 0;
}

.section-content .project-card:nth-child(3) .project-card-text,
.section-content .project-card:nth-child(5) .project-card-text {
  text-align: end;
}

.project-card {
  display: flex;
  align-items: center;
}

.project-card img {
  width: 300px;
  height: 300px;
  margin-right: 50px;
  margin-top: 60px;
}

.project-card .project-card-text {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 600px;
}

.project-card .project-card-text h3 {
  font-weight: 500;
  font-size: 2.25rem;
  margin-bottom: 10px;
}

.project-card .project-card-text p {
  line-height: 1.875rem;
  color: hsla(0, 0%, 100%, 0.75);
}

/* UTILITIES */
.section-cotainer {
  width: 100%;
  background-color: #111111;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px;
}

.section-title {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  color: white;
  text-transform: uppercase;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 2px solid white;
  margin: auto;
  margin-bottom: 60px;
  text-align: center;
  width: fit-content;
}
